<div id="form-products">
    <form action="/api/productos" method="POST">
        <input type="text" name="nombre" placeholder="ingrese nombre del producto">
        <input type="text" name="descripcion" placeholder="ingrese una descripcion">
        <input type="text" name="codigo" placeholder="ingrese un codigo">
        <input type="text" name="foto" placeholder="ingrese una foto por url">
        <input type="number" name="precio" placeholder="precio : $">
        <input type="number" name="stock" placeholder="stock disponible">
        <button type="submit">Añadir Producto</button>
    </form>
</div>