<div id="form-table">
    <div id="formulario">
        <h1>Porfavor Ingrese un producto</h1>
        {{>formulario}}
    </div>
    <div id="tabla">
        <h1>Tabla de productos</h1>
        <br><br>
        {{>tabla}}
    </div>
</div>
<div id="form-chat">
    <h1>Centro de Mensajes</h1>
    {{>chat}}
</div>