<div id="home">
    <h1>Bienvenido a WolFractal</h1>
    <div id="content">
        <h2>
            WolFractal es una webb app ecommerce capaz de guardar el inventario de sus productos en
            pocos pasos, tambien contamos con un carrito multidimensional incluido con el cual cada usuario
            conectado podra interactuar con el mientras recopilamos informacion de sus preferencias, no es esto genial?
            <br><br>
            Nuestros servicios se brindan de forma totalmente gratuita, sin embargo tambien alentamos a nuestros clientes
            a realizar donaciones para seguir manteniendonos en el top de apps mas requeridas del mercado.
        </h2>
        <div id="donate">
            <img src="https://cdn3.iconfinder.com/data/icons/self-awareness-flat/267/05._compassion_sympathy_charity_donate_give-256.png" alt="">
            <h3>Donar</h3>
        </div>
        <h2>Tambien puede probar nuestras otras aplicaciones: </h2>
        <div id="apps">a
            <div class="card-app" id="vaetics">
                <h1>Vaetics</h1>
                <img src="img/vaetics.png" alt="">
            </div>
            <div class="card-app" id="mamon-app">
                <h1>Mamon App</h1>
                <img src="img/mamon.webp" alt="">
            </div>
        </div>
    </div>
</div>