<div id="products">
    <div id="form-table">
        {{#if admin}}
            <h1>Añadir nuevo producto</h1>
            {{>formProducts}}
        {{/if}}
        {{#if products}}
            <h1>Lista de productos</h1>
            {{>tableProducts}}
        {{else}}
            <h1>No hay productos para mostrar...</h1>
        {{/if}}
    </div>
    {{>cartSelect}}
</div>